# Data preprocessing

## Data loading

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
!gdown --id 1xkS3QLAFrzTfJqc6qs24k9ey6sk3aSNe

Downloading...
From: https://drive.google.com/uc?id=1xkS3QLAFrzTfJqc6qs24k9ey6sk3aSNe
To: /content/bank_train.csv
100% 2.33M/2.33M [00:00<00:00, 73.1MB/s]

In [ ]:
bankdata = pd.read_csv('bank_train.csv')

## Data exploring

In [ ]:
bankdata.head()

   age         job   marital  education  ... pdays  previous poutcome subscribed
0   29      admin.   married  secondary  ...    -1         0  unknown         no
1   33      admin.    single   tertiary  ...    -1         0  unknown         no
2   30  management   married   tertiary  ...    -1         0  unknown         no
3   33      admin.  divorced  secondary  ...    -1         0  unknown        yes
4   42  technician   married   tertiary  ...    -1         0  unknown         no

[5 rows x 16 columns]

In [ ]:
bankdata.dtypes

age            int64
job           object
marital       object
education     object
default       object
balance        int64
housing       object
loan          object
contact       object
day            int64
month         object
campaign       int64
pdays          int64
previous       int64
poutcome      object
subscribed    object
dtype: object

In [ ]:
bankdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29387 entries, 0 to 29386
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         29387 non-null  int64
 1   job         29387 non-null  object
 2   marital     29387 non-null  object
 3   education   29387 non-null  object
 4   default     29387 non-null  object
 5   balance     29387 non-null  int64
 6   housing     29387 non-null  object
 7   loan        29387 non-null  object
 8   contact     29387 non-null  object
 9   day         29387 non-null  int64
 10  month       29387 non-null  object
 11  campaign    29387 non-null  int64
 12  pdays       29387 non-null  int64
 13  previous    29387 non-null  int64
 14  poutcome    29387 non-null  object
 15  subscribed  29387 non-null  object
dtypes: int64(6), object(10)
memory usage: 3.6+ MB

In [ ]:
df_nunique = {var: pd.DataFrame(bankdata[var].value_counts()) 
              for var in {'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'subscribed'}}

In [ ]:
from IPython.core.display import HTML

def multi_table(table_list):
    ''' Acceps a list of IpyTable objects and returns a table which contains each IpyTable in a cell
    '''
    return HTML(
        '<table><tr style="background-color:white;">' + 
        ''.join(['<td>' + table._repr_html_() + '</td>' for table in table_list]) +
        '</tr></table>')

multi_table([df_nunique['job'], df_nunique['marital'],df_nunique['education']
            ,df_nunique['default'],df_nunique['housing'],df_nunique['loan'],df_nunique['contact'],df_nunique['month'],
             df_nunique['poutcome'],df_nunique['subscribed']])

## Split X and y

In [ ]:
bankdata

       age          job   marital  ... previous poutcome  subscribed
0       29       admin.   married  ...        0  unknown          no
1       33       admin.    single  ...        0  unknown          no
2       30   management   married  ...        0  unknown          no
3       33       admin.  divorced  ...        0  unknown         yes
4       42   technician   married  ...        0  unknown          no
...    ...          ...       ...  ...      ...      ...         ...
29382   55    housemaid  divorced  ...        0  unknown          no
29383   38  blue-collar   married  ...        0  unknown          no
29384   52   management   married  ...        0  unknown          no
29385   34   technician    single  ...        0  unknown          no
29386   44   management   married  ...        0  unknown          no

[29387 rows x 16 columns]

In [ ]:
bankdata.subscribed[bankdata.subscribed == 'no'] = int(0)
bankdata.subscribed[bankdata.subscribed == 'yes'] = int(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
bankdata

       age          job   marital  ... previous poutcome  subscribed
0       29       admin.   married  ...        0  unknown           0
1       33       admin.    single  ...        0  unknown           0
2       30   management   married  ...        0  unknown           0
3       33       admin.  divorced  ...        0  unknown           1
4       42   technician   married  ...        0  unknown           0
...    ...          ...       ...  ...      ...      ...         ...
29382   55    housemaid  divorced  ...        0  unknown           0
29383   38  blue-collar   married  ...        0  unknown           0
29384   52   management   married  ...        0  unknown           0
29385   34   technician    single  ...        0  unknown           0
29386   44   management   married  ...        0  unknown           0

[29387 rows x 16 columns]

In [ ]:
X = bankdata.iloc[:, :-1]
y = bankdata.iloc[:, -1]

In [ ]:
X

       age          job   marital  ... pdays previous  poutcome
0       29       admin.   married  ...    -1        0   unknown
1       33       admin.    single  ...    -1        0   unknown
2       30   management   married  ...    -1        0   unknown
3       33       admin.  divorced  ...    -1        0   unknown
4       42   technician   married  ...    -1        0   unknown
...    ...          ...       ...  ...   ...      ...       ...
29382   55    housemaid  divorced  ...    -1        0   unknown
29383   38  blue-collar   married  ...    -1        0   unknown
29384   52   management   married  ...    -1        0   unknown
29385   34   technician    single  ...    -1        0   unknown
29386   44   management   married  ...    -1        0   unknown

[29387 rows x 15 columns]

In [ ]:
y=y.astype(int)

In [ ]:
y

0        0
1        0
2        0
3        1
4        0
        ..
29382    0
29383    0
29384    0
29385    0
29386    0
Name: subscribed, Length: 29387, dtype: int64

## Feature engineering

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1, 2, 3, 4, 6, 7, 8, 10, 14])], remainder='passthrough')
X_encoded = np.array(ct.fit_transform(X))
print(X_encoded)

[[ 1.  0.  0. ...  1. -1.  0.]
 [ 1.  0.  0. ...  3. -1.  0.]
 [ 0.  0.  0. ...  1. -1.  0.]
 ...
 [ 0.  0.  0. ...  1. -1.  0.]
 [ 0.  0.  0. ...  1. -1.  0.]
 [ 0.  0.  0. ...  1. -1.  0.]]

In [ ]:
X_encoded[0]

array([ 1.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  1.000e+00,  0.000e+00,
        0.000e+00,  1.000e+00,  0.000e+00,  0.000e+00,  1.000e+00,
        0.000e+00,  0.000e+00,  1.000e+00,  1.000e+00,  0.000e+00,
        1.000e+00,  0.000e+00,  0.000e+00,  1.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  1.000e+00,  2.900e+01,
        1.489e+03,  2.000e+01,  1.000e+00, -1.000e+00,  0.000e+00])

# Model training

## Train test split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size = 0.2, random_state = 88)

In [ ]:
y_train

15541    0
21021    0
17130    0
7371     0
27250    0
        ..
24938    0
2481     0
4047     0
6432     0
26584    0
Name: subscribed, Length: 23509, dtype: int64

In [ ]:
models = {
    'Logic Regression': LogisticRegression(),
    'KNN': KNeighborsClassifier(),
    'Random Forest': RandomForestClassifier()
}

def fit_and_score(models, X_train, y_train, X_test, y_test):
  np.random.seed(random_state)
  model_scores = {}
  for name, model in models.items():
    model.fit(X_train, y_train)
    model_scores[name] = model.score(X_test, y_test)
  return model_scores

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

In [ ]:
score = model.score(X_test, y_test)
score

0.8812521265736645

# with cross validation

In [ ]:
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score

In [ ]:
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
model = LogisticRegression()

In [ ]:
scores = cross_val_score(model, X_encoded, y, scoring='accuracy', cv=cv, n_jobs=-1)

In [ ]:
scores

array([0.88907792, 0.88431439, 0.87853011, 0.88363389, 0.87342634,
       0.88533515, 0.8863559 , 0.88699796, 0.88291355, 0.89652825,
       0.89009867, 0.88669616, 0.88533515, 0.8856754 , 0.88431439,
       0.88261313, 0.87138482, 0.88053097, 0.89652825, 0.88121171,
       0.87172508, 0.87682885, 0.8856754 , 0.87853011, 0.88295339,
       0.89418169, 0.89452195, 0.88563649, 0.89380531, 0.88155208])

# NN

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
X_train.shape

(23509, 50)

In [ ]:
model = Sequential()
model.add(Dense(12, input_shape=(23509,50), activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=150, batch_size=10)

Epoch 1/150
WARNING:tensorflow:Model was constructed with shape (None, 23509, 50) for input KerasTensor(type_spec=TensorSpec(shape=(None, 23509, 50), dtype=tf.float32, name='dense_3_input'), name='dense_3_input', description="created by layer 'dense_3_input'"), but it was called on an input with incompatible shape (None, 50).
WARNING:tensorflow:Model was constructed with shape (None, 23509, 50) for input KerasTensor(type_spec=TensorSpec(shape=(None, 23509, 50), dtype=tf.float32, name='dense_3_input'), name='dense_3_input', description="created by layer 'dense_3_input'"), but it was called on an input with incompatible shape (None, 50).
2351/2351 [==============================] - 4s 1ms/step - loss: 0.6416 - accuracy: 0.8606
Epoch 2/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.4888 - accuracy: 0.8728
Epoch 3/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.4611 - accuracy: 0.8722
Epoch 4/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.4247 - accuracy: 0.8738
Epoch 5/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3972 - accuracy: 0.8769
Epoch 6/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3928 - accuracy: 0.8787
Epoch 7/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3762 - accuracy: 0.8796
Epoch 8/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3596 - accuracy: 0.8826
Epoch 9/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8843
Epoch 10/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3290 - accuracy: 0.8854
Epoch 11/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3239 - accuracy: 0.8889
Epoch 12/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3262 - accuracy: 0.8873
Epoch 13/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3227 - accuracy: 0.8883
Epoch 14/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3182 - accuracy: 0.8889
Epoch 15/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3163 - accuracy: 0.8894
Epoch 16/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3163 - accuracy: 0.8894
Epoch 17/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3152 - accuracy: 0.8893
Epoch 18/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3161 - accuracy: 0.8896
Epoch 19/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3140 - accuracy: 0.8890
Epoch 20/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3129 - accuracy: 0.8897
Epoch 21/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3148 - accuracy: 0.8908
Epoch 22/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3193 - accuracy: 0.8883
Epoch 23/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3158 - accuracy: 0.8892
Epoch 24/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3134 - accuracy: 0.8907
Epoch 25/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3148 - accuracy: 0.8906
Epoch 26/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3110 - accuracy: 0.8900
Epoch 27/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3108 - accuracy: 0.8899
Epoch 28/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3097 - accuracy: 0.8897
Epoch 29/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3094 - accuracy: 0.8901
Epoch 30/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3090 - accuracy: 0.8910
Epoch 31/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3085 - accuracy: 0.8894
Epoch 32/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3074 - accuracy: 0.8908
Epoch 33/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3081 - accuracy: 0.8907
Epoch 34/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3095 - accuracy: 0.8895
Epoch 35/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3098 - accuracy: 0.8899
Epoch 36/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3087 - accuracy: 0.8897
Epoch 37/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3079 - accuracy: 0.8892
Epoch 38/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3062 - accuracy: 0.8911
Epoch 39/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3069 - accuracy: 0.8906
Epoch 40/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3063 - accuracy: 0.8910
Epoch 41/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3058 - accuracy: 0.8906
Epoch 42/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3059 - accuracy: 0.8921
Epoch 43/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3067 - accuracy: 0.8912
Epoch 44/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3050 - accuracy: 0.8916
Epoch 45/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3051 - accuracy: 0.8910
Epoch 46/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3061 - accuracy: 0.8908
Epoch 47/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3074 - accuracy: 0.8903
Epoch 48/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3047 - accuracy: 0.8916
Epoch 49/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3072 - accuracy: 0.8906
Epoch 50/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3043 - accuracy: 0.8909
Epoch 51/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3055 - accuracy: 0.8911
Epoch 52/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3063 - accuracy: 0.8908
Epoch 53/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3055 - accuracy: 0.8910
Epoch 54/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3048 - accuracy: 0.8917
Epoch 55/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3030 - accuracy: 0.8910
Epoch 56/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3037 - accuracy: 0.8922
Epoch 57/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3044 - accuracy: 0.8913
Epoch 58/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3037 - accuracy: 0.8916
Epoch 59/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3032 - accuracy: 0.8919
Epoch 60/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3027 - accuracy: 0.8914
Epoch 61/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3024 - accuracy: 0.8921
Epoch 62/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3033 - accuracy: 0.8911
Epoch 63/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3021 - accuracy: 0.8911
Epoch 64/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3019 - accuracy: 0.8909
Epoch 65/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3022 - accuracy: 0.8915
Epoch 66/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3012 - accuracy: 0.8913
Epoch 67/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3023 - accuracy: 0.8910
Epoch 68/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3025 - accuracy: 0.8917
Epoch 69/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3018 - accuracy: 0.8918
Epoch 70/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3016 - accuracy: 0.8921
Epoch 71/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3004 - accuracy: 0.8923
Epoch 72/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3013 - accuracy: 0.8920
Epoch 73/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3004 - accuracy: 0.8921
Epoch 74/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3021 - accuracy: 0.8920
Epoch 75/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3000 - accuracy: 0.8930
Epoch 76/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3011 - accuracy: 0.8922
Epoch 77/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2993 - accuracy: 0.8924
Epoch 78/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3007 - accuracy: 0.8915
Epoch 79/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2991 - accuracy: 0.8920
Epoch 80/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3000 - accuracy: 0.8920
Epoch 81/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3005 - accuracy: 0.8911
Epoch 82/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2995 - accuracy: 0.8924
Epoch 83/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3005 - accuracy: 0.8915
Epoch 84/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2999 - accuracy: 0.8917
Epoch 85/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3011 - accuracy: 0.8911
Epoch 86/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2997 - accuracy: 0.8924
Epoch 87/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2987 - accuracy: 0.8922
Epoch 88/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3006 - accuracy: 0.8920
Epoch 89/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2993 - accuracy: 0.8924
Epoch 90/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3003 - accuracy: 0.8920
Epoch 91/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2993 - accuracy: 0.8923
Epoch 92/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2992 - accuracy: 0.8918
Epoch 93/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2997 - accuracy: 0.8917
Epoch 94/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2992 - accuracy: 0.8929
Epoch 95/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2988 - accuracy: 0.8913
Epoch 96/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2984 - accuracy: 0.8922
Epoch 97/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2980 - accuracy: 0.8920
Epoch 98/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.3021 - accuracy: 0.8916
Epoch 99/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2978 - accuracy: 0.8924
Epoch 100/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2984 - accuracy: 0.8919
Epoch 101/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2997 - accuracy: 0.8920
Epoch 102/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2978 - accuracy: 0.8926
Epoch 103/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2988 - accuracy: 0.8920
Epoch 104/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2991 - accuracy: 0.8920
Epoch 105/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2985 - accuracy: 0.8926
Epoch 106/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2982 - accuracy: 0.8910
Epoch 107/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.2972 - accuracy: 0.8925
Epoch 108/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2976 - accuracy: 0.8934
Epoch 109/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2979 - accuracy: 0.8926
Epoch 110/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2988 - accuracy: 0.8919
Epoch 111/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2978 - accuracy: 0.8923
Epoch 112/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2980 - accuracy: 0.8923
Epoch 113/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.2973 - accuracy: 0.8922
Epoch 114/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2966 - accuracy: 0.8931
Epoch 115/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2975 - accuracy: 0.8932
Epoch 116/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2995 - accuracy: 0.8910
Epoch 117/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2988 - accuracy: 0.8916
Epoch 118/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2963 - accuracy: 0.8937
Epoch 119/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.2974 - accuracy: 0.8928
Epoch 120/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2972 - accuracy: 0.8917
Epoch 121/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2970 - accuracy: 0.8933
Epoch 122/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2972 - accuracy: 0.8918
Epoch 123/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2978 - accuracy: 0.8927
Epoch 124/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2980 - accuracy: 0.8917
Epoch 125/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2962 - accuracy: 0.8935
Epoch 126/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2975 - accuracy: 0.8923
Epoch 127/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.2977 - accuracy: 0.8926
Epoch 128/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2963 - accuracy: 0.8924
Epoch 129/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.2976 - accuracy: 0.8921
Epoch 130/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2952 - accuracy: 0.8923
Epoch 131/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2961 - accuracy: 0.8932
Epoch 132/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2979 - accuracy: 0.8928
Epoch 133/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.2962 - accuracy: 0.8920
Epoch 134/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2968 - accuracy: 0.8923
Epoch 135/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2962 - accuracy: 0.8923
Epoch 136/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2950 - accuracy: 0.8930
Epoch 137/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2958 - accuracy: 0.8925
Epoch 138/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2983 - accuracy: 0.8918
Epoch 139/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2955 - accuracy: 0.8924
Epoch 140/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2997 - accuracy: 0.8922
Epoch 141/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2964 - accuracy: 0.8926
Epoch 142/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.3007 - accuracy: 0.8919
Epoch 143/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2966 - accuracy: 0.8923
Epoch 144/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.2976 - accuracy: 0.8927
Epoch 145/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2968 - accuracy: 0.8926
Epoch 146/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2977 - accuracy: 0.8923
Epoch 147/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2975 - accuracy: 0.8918
Epoch 148/150
2351/2351 [==============================] - 4s 2ms/step - loss: 0.2976 - accuracy: 0.8919
Epoch 149/150
2351/2351 [==============================] - 3s 1ms/step - loss: 0.2953 - accuracy: 0.8919
Epoch 150/150
2351/2351 [==============================] - 4s 1ms/step - loss: 0.2957 - accuracy: 0.8926

In [ ]:
testing_y = model.predict(testing_encoded)

WARNING:tensorflow:Model was constructed with shape (None, 23509, 50) for input KerasTensor(type_spec=TensorSpec(shape=(None, 23509, 50), dtype=tf.float32, name='dense_3_input'), name='dense_3_input', description="created by layer 'dense_3_input'"), but it was called on an input with incompatible shape (None, 50).

In [ ]:
testing_y

array([[0.03107682],
       [0.12334281],
       [0.04079005],
       ...,
       [0.02464932],
       [0.0735369 ],
       [0.01899436]], dtype=float32)

In [ ]:
predicted = np.argmax(testing_y, axis = 1)

In [ ]:
predicted

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
pd.Series(predicted)

0        0
1        0
2        0
3        0
4        0
        ..
15819    0
15820    0
15821    0
15822    0
15823    0
Length: 15824, dtype: int64

In [ ]:
testing_idx['subscribed'] = pd.Series(predicted)

In [ ]:
testing_idx

In [ ]:
testing_idx.to_csv('predicted.csv', index=False)

In [ ]:
!gdown --id 1YcwuCLoI9qGfHwWNTPL3hfLlx6SEid5Q

Downloading...
From: https://drive.google.com/uc?id=1YcwuCLoI9qGfHwWNTPL3hfLlx6SEid5Q
To: /content/bank_test.csv
100% 1.29M/1.29M [00:00<00:00, 83.2MB/s]

In [ ]:
testing = pd.read_csv('bank_test.csv')

In [ ]:
testing

In [ ]:
testing_X = testing.iloc[:, 1:]
testing_idx = testing.iloc[:, :1]

In [ ]:
testing_idx

          id
0          0
1          1
2          2
3          3
4          4
...      ...
15819  15819
15820  15820
15821  15821
15822  15822
15823  15823

[15824 rows x 1 columns]

In [ ]:
testing_encoded = np.array(ct.fit_transform(testing_X))

In [ ]:
testing_encoded

In [ ]:
testing_y = model.predict(testing_encoded)

In [ ]:
pd.Series(testing_y)

0        0
1        0
2        0
3        0
4        0
        ..
15819    0
15820    0
15821    0
15822    0
15823    0
Length: 15824, dtype: int64

In [ ]:
testing_idx['subscribed'] = pd.Series(testing_y)

In [ ]:
testing_idx

          id  subscribed
0          0           0
1          1           0
2          2           0
3          3           0
4          4           0
...      ...         ...
15819  15819           0
15820  15820           0
15821  15821           0
15822  15822           0
15823  15823           0

[15824 rows x 2 columns]

In [ ]:
testing_idx.to_csv('predicted.csv', index=False)